openapi: 3.1.0
info:
  title: Flexport REST Bookings PurchaseOrders API
  version: '2023-07-01'
  description: 'Best-effort OpenAPI 3.1 description of the Flexport REST API v2.

    Derived from the public developer documentation at https://apidocs.flexport.com/.

    Covers a representative subset of the v2 resource model: shipments, bookings,

    purchase orders, customs, documents, network entities, and webhooks. JSON

    request and response bodies use Flexport''s standard envelope (`data`, `meta`,

    `errors`); operation-specific schemas are not modeled here.

    '
  contact:
    name: Flexport
    url: https://www.flexport.com/
servers:
- url: https://api.flexport.com
  description: Production
security:
- oauth2: []
- bearerAuth: []
tags:
- name: PurchaseOrders
paths:
  /v2/purchase-orders:
    get:
      tags:
      - PurchaseOrders
      summary: List purchase orders
      responses:
        '200':
          $ref: '#/components/responses/Collection'
  /v2/purchase-order-line-items:
    get:
      tags:
      - PurchaseOrders
      summary: List purchase order line items
      responses:
        '200':
          $ref: '#/components/responses/Collection'
components:
  responses:
    Collection:
      description: Collection envelope
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  additionalProperties: true
              meta:
                type: object
                additionalProperties: true
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 client credentials issued from the Flexport admin console
      flows:
        clientCredentials:
          tokenUrl: https://api.flexport.com/oauth/token
          scopes: {}
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
